@import "react-alice-carousel/lib/alice-carousel.css";

.Nav {
  display: flex;
  justify-content: center;
}

.TimeSelector {
  margin-bottom: 15px;
}

.customNav {
  text-align: center;
}

.contentlist {
  display: flex;
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

.list {
  list-style-type: none;
  text-align: left;
}

.modal-container {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: auto;
  height: auto !important;
}

.backdrop {
  width: 100%;
  margin-bottom: 15px;
}

.discover-slider {
  height: 60vh !important;
  display: flex;
  justify-content: center;
  margin: auto;
}

.backdropText {
  margin-left: 3%;
  text-align: left;
  margin-top: 22%;
  width: 50%;
}

.chevron {
  margin-top: 15px;
  margin-left: 50px;
}

.slider-image {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 15px !important;
}

.search-input {
  width: 25% !important;
  margin: auto;
  margin-bottom: 50px;
}

.home-title {
  margin-bottom: 12px;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 50px;
  justify-content: center;
  margin-bottom: 100px;
}

.search-image {
  margin-bottom: 15px !important;
  display: flex;
  justify-content: center;
  margin: auto;
}

.item:hover {
  cursor: pointer;
}

.search-result:hover {
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .modal {
    width: auto !important;
  }
  .backdropText {
    margin-left: 10%;
    width: 80%;
  }
  .search-input {
    width: 80% !important;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 50px;
    justify-content: center;
    margin-bottom: 100px;
  }
}

@media (max-width: 991.98px) {
  .modal {
    width: auto;
  }
  .backdropText {
    margin-left: 10%;
    width: 80%;
  }
  .search-input {
    width: 80% !important;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 50px;
    justify-content: center;
    margin-bottom: 100px;
  }
}

@media (max-width: 1199.98px) {
  .modal {
    width: auto;
  }
  .backdropText {
    margin-left: 10%;
    width: 80%;
  }
  .search-input {
    width: 80% !important;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 50px;
    justify-content: center;
    margin-bottom: 100px;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: rgb(43, 43, 111);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(20, 20, 89);
}
